[Unit]
Description=Rust analyzer multiplex server

[Service]
Type=simple
; ExecStart=ra-multiplex server
Environment="RUSTUP_HOME=/home/norpie/.local/share/rustup"
Environment="CARGO_HOME=/home/norpie/.local/share/cargo"
ExecStart=/run/current-system/sw/bin/ra-multiplex server

[Install]
WantedBy=default.target
