.config/vim/.netrwhist
.Xauthority
Downloads
.cache
.dbus
.eclipse
.java
.m2
.pki
.swt
.tooling
.webclipse
repos
uni
.local/lib
.dots
.config/wget
.config/vim/bundle
.local/bin/xroot-panels
.local/bin/xroot-status-loop
.local/bin/xroot-status-restart
.local/bin/xroot-status-start
.local/bin/xroot-status-stop
.local/bin/xroot-status-update
.config/Musixmatch/
.config/st
.config/spotify
.config/qBittorrent
.config/pulse
.config/pavucontrol.ini
.config/p2
.config/nvidia
.config/neofetch
.config/mutt
.config/mimeapps.list
.config/menus
.config/komorebi
.config/jgit
.config/htop
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/guvcview2
.config/zsh/.zcompdump
.config/QtProject
.config/QtProject.conf
.config/artifacts.xml
.config/cef_user_data
.config/ckb-next
.config/dconf
.config/discord
.config/discordcanary
.config/discorddevelopment
.config/dmenu
.config/dwm
.config/eclipse
.config/flameshot
.config/fontconfig
.config/gh
.config/gnupg
.config/ssh
.config/zsh/.zcompdump
.config/vim/viminfo
.config/X11/Xauthority
.config/vim/plugged
.local/include
.ssh
.minecraft
.config/artifacts.xml
.p2
.config/Exodus
.config/GIMP
.config/VirtualBox
.config/autostart
.config/configstore
.config/gops
.config/itch
.config/nautilus
.config/torbrowser
.config/unity3d
.config/whoozle.github.io
.config/ghb
.config/autostart
.local/bin/__pycache__
.config/autostart
.local/share/Wonderdraft
.local/share/applications
.local/share/gegl-0.4
.local/share/gnupg
.local/share/mime
.local/share/gvfs-metadata
.local/share/mimeapps.list
.local/share/nautilus
.local/share/qBittorrent
.local/share/nvim
.local/share/ranger
.local/share/recently-used.xbel
.local/share/torbrowser/
.local/share/xorg
.local/share/zathura
.config/autokey
.config/spicetify
.config/xautoclick
.local/share/autokey
summaries
.config/nvim/plugged
.gitignore
university
