[submodule ".config/ssh/keys"]
    path = .config/ssh/keys
    url = https://github.com/norpie-dev/keys
[submodule ".config/wallpapers"]
    path = .config/wallpapers
    url = https://github.com/norpie-dev/wallpapers
[submodule ".config/nvim"]
    path = .config/nvim
    url = https://github.com/norpie-dev/nvim
