.config/vim/.netrwhist
.Xauthority
Downloads
.cache
.dbus
.eclipse
.java
.m2
.pki
.swt
.tooling
.webclipse
repos
uni
.local/lib
.dots
.config/wget
.config/vim/bundle
.local/bin/xroot-panels
.local/bin/xroot-status-loop
.local/bin/xroot-status-restart
.local/bin/xroot-status-start
.local/bin/xroot-status-stop
.local/bin/xroot-status-update
.config/Musixmatch/
.config/st
.config/spotify
.config/qBittorrent
.config/pulse
.config/pavucontrol.ini
.config/p2
.config/nvidia
.config/mutt
.config/mimeapps.list
.config/menus
.config/komorebi
.config/jgit
.config/htop
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/guvcview2
.config/zsh/.zcompdump
.config/QtProject
.config/QtProject.conf
.config/artifacts.xml
.config/cef_user_data
.config/ckb-next
.config/dconf
.config/discord
.config/discordcanary
.config/discorddevelopment
.config/dmenu
.config/dwm
.config/eclipse
.config/flameshot
.config/fontconfig
.config/gh
.config/gnupg
.config/ssh
.config/zsh/.zcompdump
.config/vim/viminfo
.config/X11/Xauthority
.config/vim/plugged
.local/include
.ssh
.minecraft
.config/artifacts.xml
.p2
.config/Exodus
.config/GIMP
.config/VirtualBox
.config/autostart
.config/configstore
.config/gops
.config/itch
.config/nautilus
.config/torbrowser
.config/unity3d
.config/whoozle.github.io
.config/ghb
.local/bin/__pycache__
.config/autostart
.local/share/Wonderdraft
.local/share/applications
.local/share/gegl-0.4
.local/share/gnupg
.local/share/mime
.local/share/gvfs-metadata
.local/share/mimeapps.list
.local/share/nautilus
.local/share/qBittorrent
.local/share/nvim
.local/share/ranger
.local/share/recently-used.xbel
.local/share/torbrowser/
.local/share/xorg
.local/share/zathura
.config/autokey
.config/spicetify
.config/xautoclick
.local/share/autokey
summaries
.config/nvim/plugged
.gitignore
university
.python_history
repos//home/konsta/.local/share/games
.local/share/games
.xinitrc
.config/MEGAX
.config/emacs
.config/vim
.renpy
.jd
pix
.config/syncthing
.config/inkscape
.local/bin/google-oauthlib-tool
.local/bin/pyrsa-decrypt
.local/bin/pyrsa-encrypt
.local/bin/pyrsa-keygen
.local/bin/pyrsa-priv2pub
.local/bin/pyrsa-sign
.local/bin/pyrsa-verify
.local/share/icons/
.local/share/newsboat/
.local/share/syncthing/
.local/share/vulkan/
.texlive
.local/share/latex/.SRCINFO
.config/bashtop
.android
.bitmonero
.config/TabNine
.config/btop
.config/monero-project
.local/bin/django-admin
.local/bin/django-admin.py
.local/bin/sqlformat
.local/share/Bisq
.local/share/TabNine
.local/share/wallets
.openjfx
.shared-ringdb
.bitmonero
.shared-ringdb
.config/wallpaper/wallpaper.png
.config/nvim/spell
.local/share/script/autologin.diff
.config/SideQuest
.local/share/man
.local/share/jupyter
.local/bin/.
.local/bin/f2py
.local/bin/f2py3
.local/bin/f2py3.9
.local/bin/fonttools
.local/bin/isympy
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/ttx
.ipython
.config/FreeCAD
.config/cura
.config/vlc
.local/share/vlc
.local/share/multimc
.local/share/monero-gui
.local/share/keyrings
.local/share/cura
.local/share/appimage
.local/opt
.local/bin/f2py2
.local/bin/f2py2.7
.local/bin/helpviewer
.local/bin/img2png
.local/bin/img2py
.local/bin/img2xpm
.local/bin/pycrust
.local/bin/pyshell
.local/bin/pyslices
.local/bin/pyslicesshell
.local/bin/pywxrc
.local/bin/wxdemo
.local/bin/wxdocs
.local/bin/wxget
.config/systemd
.config/../.local/bin/pylsp
.npm
.local/bin/pylsp
.local/share/exec
.config/nvim/plugin
.config/Thunar
.config/baloofileinformationrc
.config/dolphinrc
.config/kde.org
.config/libfm
.config/pcmanfm
.config/session
.config/xfce4
.local/share/dolphin
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/bin/dmenu-insert
.local/bin/dmenu-mount
.local/bin/dmenu-output
.local/bin/dmenu-power
.local/bin/dmenu-restart
.local/bin/dmenu-unmount
.local/bin/f2py
.local/bin/f2py3
.local/bin/f2py3.10
.local/bin/f2py3.9
.local/bin/git-absolute
.local/bin/git-branch-name
.local/bin/git-dir
.local/bin/git-download
.local/bin/git-email
.local/bin/git-gclone
.local/bin/git-gremote
.local/bin/git-ignore
.local/bin/git-list-branches
.local/bin/git-loglive
.local/bin/git-name
.local/bin/git-relative
.local/bin/git-repo
.local/bin/git-root
.local/bin/git-sclone
.local/bin/git-sremote
.local/bin/nodeenv
.local/bin/pycodestyle
.local/bin/pyright
.local/bin/pyright-langserver
.local/bin/pyright-python
.local/bin/pyright-python-langserver
.local/bin/qr
.local/bin/dmenu-bluetooth-connect
.local/bin/dmenu-bluetooth-disconnect
