.android
.bitmonero
.cache
.config/apk-editor-studio
.config/artifacts.xml
.config/autokey
.config/autostart
.config/baloofileinformationrc
.config/bashtop
.config/Bitcoin
.config/calcurse
.config/cargo
.config/cef_user_data
.config/chromium
.config/ckb-next
.config/Code - OSS
.config/composer
.config/config.ini
.config/configstore
.config/cura
.config/dconf
.config/deluge
.config/devauth
.config/discord
.config/discordcanary
.config/discorddevelopment
.config/dolphin-emu
.config/dolphinrc
.config/dragonplayerrc
.config/draw.io
.config/dwm
.config/eclipse
.config/emacs
.config/Exodus
.config/features
.config/flameshot
.config/fontconfig
.config/FreeCAD
.config/gedit
.config/gh
.config/ghb
.config/GIMP
.config/github-copilot
.config/GitHub Desktop
.config/GitKraken
.config/gnupg
.config/go
.config/google-chrome
.config/gops
.config/gtk-2.0
.config/guvcview2
.config/htop
.config/inkscape
.config/Insomnia
.config/io.krunker.desktop
.config/itch
.config/jd-gui.cfg
.config/jgit
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kde.org
.config/kde.org
.config/kitty
.config/komorebi
.config/libfm
.config/libreoffice
.config/lingot
.config/../.local/bin/pylsp
.config/lutris
.config/MEGAX
.config/menus
.config/Microsoft
.config/mimeapps.list
.config/monero-project
.config/mpv/watch_later
.config/Musixmatch/
.config/mutt
.config/nautilus
.config/ncspot
.config/nvidia
.config/nvim/.archive
.config/nvim-old
.config/nvim/plugged
.config/nvim/plugin
.config/nvim/spell
.config/nvtop
.config/obsidian/*
!.config/obsidian/obsidian.json
.config/obs-studio
.config/openvr
.config/p2
.config/pavucontrol.ini
.config/pcmanfm
.config/pgmodeler-1.0
.config/plex.tv
.config/plugins
.config/Postbird
.config/Postman
.config/pulse
.config/qBittorrent
.config/QtProject
.config/QtProject.conf
.config/Raspberry Pi
.config/rustdesk
.config/session
.config/SideQuest
.config/spicetify
.config/spotify
.config/sqlectron
.config/Sqlectron
.config/sqlitebrowser
.config/sqls
.config/ssh/authorized_keys
.config/ssh/known_hosts
.config/st
.config/SurrealDB
.config/surrealist
.config/surrealist
.config/surrealist.json
.config/syncthing
.config/systemd/user/default.target.wants
.config/systemd/user/graphical-session.target.wants
.config/systemd/user/pipewire.service.wants
.config/systemd/user/pipewire-session-manager.service
.config/systemd/user/sockets.target.wants
.config/TabNine
.config/teams
.config/tenacity.cfg
.config/Thunar
.config/TOra
.config/torbrowser
.config/unity3d
.config/Unknown Organization/pgmodeler.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Vial
.config/vim
.config/vim/bundle
.config/vim/.netrwhist
.config/vim/plugged
.config/vim/viminfo
.config/VirtualBox
.config/VisualParadigm
.config/vlc
.config/wallpaper/wallpaper.png
.config/wget
.config/whoozle.github.io
.config/X11/Xauthority
.config/xautoclick
.config/xclicker.conf
.config/xfce4
.config/zellij
.config/zsh/.zcompdump
.config/zsh/.zcompdump
.dbus
.dotnet/corefx/cryptography
.dots
downloads
Downloads
.eclipse
.gradle
hs
.ipython
.java
.jd
.local/bin/cyberdrop-dl
.local/bin/django-admin
.local/bin/django-admin.py
.local/bin/dmypy
.local/bin/f2py
.local/bin/f2py
.local/bin/f2py2
.local/bin/f2py2.7
.local/bin/f2py3
.local/bin/f2py3
.local/bin/f2py3.10
.local/bin/f2py3.9
.local/bin/f2py3.9
.local/bin/fonttools
.local/bin/google-oauthlib-tool
.local/bin/gradlew
.local/bin/helpviewer
.local/bin/huggingface-cli
.local/bin/img2png
.local/bin/img2py
.local/bin/img2xpm
.local/bin/isympy
.local/bin/mypy
.local/bin/mypyc
.local/bin/nodeenv
.local/bin/party
.local/bin/__pycache__
.local/bin/pycodestyle
.local/bin/pycrust
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/pylsp
.local/bin/pyright
.local/bin/pyright-langserver
.local/bin/pyright-python
.local/bin/pyright-python-langserver
.local/bin/pyrsa-decrypt
.local/bin/pyrsa-encrypt
.local/bin/pyrsa-keygen
.local/bin/pyrsa-priv2pub
.local/bin/pyrsa-sign
.local/bin/pyrsa-verify
.local/bin/pyshell
.local/bin/pyslices
.local/bin/pyslicesshell
.local/bin/pywxrc
.local/bin/qr
.local/bin/sqlformat
.local/bin/stubgen
.local/bin/stubtest
.local/bin/todo-add
.local/bin/todo-check
.local/bin/todos
.local/bin/ttx
.local/bin/wxdemo
.local/bin/wxdocs
.local/bin/wxget
.local/data
.local/include
.local/lib
.local/opt
.local/pipx
.local/runtime
.local/share/apktool/framework
.local/share/appimage
.local/share/appimages
.local/share/applications
.local/share/autokey
.local/share/Bisq
.local/share/bitmonero
.local/share/calcurse
.local/share/cargo/bin
.local/share/cargo/.crates2.json
.local/share/cargo/.crates.toml
.local/share/cargo/env
.local/share/cargo/git
.local/share/cargo/.package-cache
.local/share/cargo/.package-cache-mutate
.local/share/cargo/registry
.local/share/composer
.local/share/com.surrealdb.surrealist
.local/share/cura
.local/share/Cyberdrop-DL
.local/share/dolphin
.local/share/dolphin-emu
.local/share/exec
.local/share/flatpak
.local/share/fonts
.local/share/games
.local/share/gedit
.local/share/gegl-0.4
.local/share/gnupg
.local/share/go
.local/share/godot
.local/share/gradle
.local/share/gvfs-metadata
.local/share/icons/
.local/share/jupyter
.local/share/keyrings
.local/share/latex/.SRCINFO
.local/share/lf
.local/share/loader/Loader
.local/share/logs
.local/share/lutris
.local/share/m2
.local/share/man
.local/share/mime
.local/share/mimeapps.list
.local/share/monero
.local/share/monero-gui
.local/share/multimc
.local/share/nautilus
.local/share/newsboat/
.local/share/npm
.local/share/npm/bin/emmet-ls
.local/share/npm/lib/node_modules/emmet-ls
.local/share/nvim
.local/share/pgadmin4.d41d8cd98f00b204e9800998ecf8427e.log
.local/share/pgadmin4.d41d8cd98f00b204e9800998ecf8427e.log
.local/share/pgadmin4.startup.log
.local/share/plex
.local/share/Plex
.local/share/plexmediaplayer
.local/share/PrismLauncher
.local/share/qbit_plugins_data
.local/share/qBittorrent
.local/share/ranger
.local/share/recently-used.xbel
.local/share/rustup
.local/share/script/autologin.diff
.local/share/sddm
.local/share/shared-ringdb
.local/share/spotify-launcher
.local/share/Steam
.local/share/surrealist
.local/share/syncthing/
.local/share/tabby
.local/share/TabNine
.local/share/target
.local/share/todo
.local/share/torbrowser/
.local/share/Trash
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/share/Vial
.local/share/vlc
.local/share/vulkan/
.local/share/wallets
.local/share/webkitgtk
.local/share/Wonderdraft
.local/share/xorg
.local/share/zathura
.local/share/zsh
.local/share/zsh-autocomplete
.local/state
.m2
.minecraft
.mozilla
.mysql_history
notes
.npm
.nyx
.openjfx
.p2
.pgadmin/pgadmin4.db
.pgadmin/pgadmin4.log
pix
.pki
.postman/InterceptorBridge
.python_history
.renpy
repos
.shared-ringdb
.ssh
.steam
.steampath
.steampid
.stellarium
summaries
.swt
.tabby-client
.texlive
.tooling
uni
university
.var
.walletwasabi/client
.webclipse
.worldpainter
.Xauthority
.config/ssh/identities
.config/BetterDiscord
.config/glib-2.0
.config/libvirt/
.config/teams-for-linux
.local/share/Anki2
.local/share/docker
.config/tmux/plugins/tmux
.config/tmux/plugins/tmux-autoreload
.config/tmux/plugins/tmux-fzf
.config/tmux/plugins/tmux-yank
.config/tmux/plugins/vim-tmux-navigator
.config/docker
.config/miopen
.config/wakatime
.config/zsh-old
.local/share/zinit
.local/share/tts
.local/share/nix
.config/bruno
.local/share/alice
.local/share/RecentDocuments
.local/share/webkitgtk-4.0
.local/share/ullm-api
.local/share/cargo/.global-cache
.config/tmux/plugins/tmux-mode-indicator
.config/tmux/plugins/tmux-suspend
.config/Ultralytics
.config/uGet
.nix-profile
.bash_history
.local/share/kdenlive
.local/share/webkitgtk
.local/share/dev.norpie.alice
.local/share/com.tauri.dev
.local/share/bottles
.local/share/webkitgtk-4.1
.config/nix
.config/btop/btop.log*
.nix-defexpr
.config/gtk-3.0/bookmarks
.config/Vencord
.config/Discord Key Storage
.config/Bitwarden
persist
.local/share/data
.local/share/DBeaverData
.PortfolioPerformance/workspace/.metadata
.config/freerdp
.config/remmina
.cups
.gtklp
.local/share/powershell/PSReadLine
.local/share/remmina
.msf4
.rustup
.vmware
.wakatime
vmware
.ovftool.ssldb
.wakatime.cfg
discord_krisp.log
discord_utils.log
.config/wallpapers
.config/lazygit/state.yml
.config/JetBrains
.config/sql-language-server
.config/ssh/archive
.local/share/JetBrains
.tabby
.local/share/cargo/credentials.toml
.local/share/delta/lesshst
.config/Code
.local/share/gwenview/recentfolders
test
.config/gwenviewrc
.config/kdeconnect
.local/share/direnv/allow
.local/share/headless-chrome/linux-1095492/chrome-linux
.config/SuperSlicer
.cdi
.docker
.vscode-remote-containers
.aws
.azure
.git-credentials
.zsh_history
