[submodule ".config/nvim"]
    path = .config/nvim
    url = https://github.com/norpie/nvim
[submodule ".config/tmux/plugins/tpm"]
    path = .config/tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
