* {
    font-family: "JetBrainsMonoNL Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #cdd6f4;
}

window#waybar > * {
    margin-bottom: 5px;
}

#workspaces {
    background-color: transparent;
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
}

#window {
    background-color: #1e1e2e;
    padding: 4px 8px;
    margin: 0px 0px;
    color: #a6e3a1;
    font-size: 13px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
    padding: 0px 10px;
    margin-right: 8px;
    font-size: 13px;
}

#workspaces button:last-child {
    margin-right: 0;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#workspaces button:hover {
    background-color: #45475a;
}

#window {
    color: #a6e3a1;
}

#clock, #pulseaudio, #mpris, #battery, #backlight, #custom-power, #network, #memory {
    background-color: transparent;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    margin-left: 8px;
    font-size: 13px;
}

#clock {
    color: #cdd6f4;
}

#pulseaudio {
    color: #89b4fa;
}

#mpris {
    color: #f5c2e7;
}

#battery {
    color: #a6e3a1;
}

#battery.charging, #battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#backlight {
    color: #fab387;
}

#custom-power {
    color: #f38ba8;
    padding: 4px 10px 4px 8px;
    margin-right: 8px;
}

#network {
    color: #94e2d5;
}

#memory {
    color: #fab387;
}
