* {
    font-family: "JetBrainsMonoNL Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #cdd6f4;
}

window#waybar > * {
    margin-bottom: 5px;
}

#workspaces {
    background-color: transparent;
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
}

#window {
    background-color: #1e1e2e;
    padding: 4px 8px;
    margin: 0px 0px;
    border-radius: 8px;
    color: #a6e3a1;
    font-size: 13px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
    padding: 0px 10px;
    margin-right: 8px;
    font-size: 13px;
}

#workspaces button:last-child {
    margin-right: 0;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#workspaces button:hover {
    background-color: #45475a;
}

#window {
    color: #a6e3a1;
}

#clock, #pulseaudio, #mpris, #bluetooth, #battery, #backlight, #custom-power, #custom-lock, #idle_inhibitor, #custom-monitor-off, #custom-reboot, #custom-mouse-battery, #custom-gpu, #wireplumber, #network, #memory, #cpu {
    background-color: transparent;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: none;
    border-radius: 8px;
    padding: 4px 8px;
    margin-left: 8px;
    font-size: 13px;
}

#clock {
    color: #cdd6f4;
}

#mpris {
    color: #f5c2e7;
}

#wireplumber {
    color: #89b4fa;
}

#battery {
    color: #a6e3a1;
}

#battery.charging, #battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#backlight {
    color: #fab387;
}

#bluetooth {
    color: #89dceb;
}

#custom-power {
    color: #f38ba8;
    padding: 4px 10px 4px 8px;
}

#group-power {
    margin-right: 8px;
}

#network {
    color: #94e2d5;
}

#memory {
    color: #fab387;
}

#custom-lock {
    color: #fab387;
}

#custom-monitor-off {
    color: #94e2d5;
}

#custom-reboot {
    color: #f9e2af;
}

#idle_inhibitor {
    color: #b4befe;
    padding-left: 6px;
    padding-right: 10px;
}

#idle_inhibitor.activated {
    color: #a6e3a1;
}

#idle_inhibitor.deactivated {
    color: #585b70;
}

#custom-mouse-battery {
    color: #cba6f7;
}

#custom-gpu {
    color: #f9e2af;
}

#cpu {
    color: #94e2d5;
}
