* {
    font-family: "JetBrainsMonoNL Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #cdd6f4;
}

#workspaces {
    background-color: transparent;
    padding: 0;
    margin: 5px 8px;
}

#window {
    background-color: #1e1e2e;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 5px 0px 5px 0px;
    color: #a6e3a1;
    font-size: 13px;
}

#window.empty {
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#workspaces button {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
    padding: 0px 10px;
    border-radius: 10px;
    margin-right: 8px;
    font-size: 13px;
}

#workspaces button:last-child {
    margin-right: 0;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#workspaces button:hover {
    background-color: #45475a;
}

#window {
    color: #a6e3a1;
}

#clock {
    background-color: #1e1e2e;
    color: #cdd6f4;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 5px 8px;
    font-size: 13px;
}

#pulseaudio, #mpris {
    background-color: #1e1e2e;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 5px 8px;
    font-size: 13px;
}

#pulseaudio {
    color: #89b4fa;
}

#mpris {
    color: #f5c2e7;
}

#battery {
    color: #a6e3a1;
}

#battery.charging, #battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#network {
    color: #94e2d5;
}

#memory {
    color: #fab387;
}